/* modules/login/login.css */
body {
  background-color: #131626; /* Oscuro para fondo */
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #150240; /* Oscuro para caja */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
  color: #04BFBF; /* Color de acción */
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #460273; /* Fondo inputs */
  color: #ffffff; /* Texto input */
}

input::placeholder {
  color: #cccccc;
}

button {
  padding: 10px;
  background-color: #8303A6; /* Botón principal */
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #460273; /* Hover más profundo */
}

#error-msg {
  color: #ff6b6b;
  margin-top: 10px;
  font-size: 0.9em;
  text-align: center;
}
